# Virtual Environments
venv/
*.venv
env/
.env

# Python Cache Files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db

# IDE and Editor Directories
.vscode/
.idea/
*.swp
*.swo

# Data and Runs (if large)
# datasets/
# runs/


# PyPI configuration file
.pypirc

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore
